:root{
  --bg: #fff;          /* main page background */
  --bg-1: #6b0000;
  --maroon: #6b0000;
  --border: #000;
  --cream: #fff7e0;
}

*{ box-sizing:border-box; }

html, body{
  height:100%;
}

body{
  margin:0;
  font-family:"Georgia","Times New Roman",serif;
  background:var(--bg);
  color:#000;
}
